body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h2, h3, h4 {
    color: #333;
}

.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #007BFF;
    padding: 10px;
}

.tablinks {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.tabcontent {
    display: none;
    padding: 20px;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

button {
    background-color: #28A745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

thead {
    background-color: #f9f9f9;
}

#photoGallery img {
    width: 100px;
    margin: 10px;
}
